/* GENERAL */

/*Colors*/
:root {
    --dc-darker-gray: #eaeaea;
    --dc-lighter-gray: #f4f4f4;
    --dc-lighter-green: #d5f9ba;
}

.bg-darker-gray{
    background-color: var(--dc-darker-gray);
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-thumb {
    background: #cecece;
    border: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #a8a8a8;
}

body {
    background: linear-gradient(
        #009688 0%,
        #009688 130px,
        #d9dbd5 130px,
        #d9dbd5 100%)
}

.full-cont,.left-side,.right-side,.right-empty {
    height: calc(100vh - 48px);
}

.logo {
    max-width: 400px;
}

.icon-size {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.cursor-pointer:hover, .icon-size:hover{
    cursor: pointer;
}

.user-info {
    height: 66px;
}

/* LEFT SIDE */
.notifications {
    height: 82px;
    background-color: #8edafc;
}

.bell {
    background-color: #f2fbff;
}

.contact-search{
    height: 48px;
}

.contact-box-list {
    height: calc(100% - 196px)
}

li {
    border-top: 1px solid var(--dc-darker-gray) !important;
}

li:hover{
    background-color: var(--dc-lighter-gray);
    cursor: pointer;
}

/* RIGTH SIDE */
.chat-box {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 132px);
}

.right-empty {
    z-index: 1000;
    background-color: white;
}

.date-msg {
    right: 10px;
    bottom: 0px;
}

.single-msg:hover .my-toggle {
    opacity: 1;
}

.my-toggle{
    top: 0px;
    right: 10px;
    z-index: 555;
    opacity: 0;
    transition: 0.5ms;
}

.msg-dropdown-menu{
    top: 20px;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0px;
    z-index: 444;
}

.msg-dropdown-button{
    padding: 0;
    margin: 0px;
    border: 0;
}

.msg-dropdown-button:hover{
    background-color: var(--dc-lighter-gray);
}

.sended-msg {
    background-color: var(--dc-lighter-green);
}

.chat-input {
    background-color: #f3eeea;
    height: 66px;
}

.my-emoji{
    z-index: 999;
    position: absolute;
    bottom: 50px;
    left: 50%;
}

@media screen and (min-width: 576px) {
    .left-side {
        max-width: 280px !important;
    }
}

@media screen and (min-width: 768px) {
    .left-side {
        max-width: 350px !important;
    }
    .logo {
        max-width: 550px;
    }
}