/* GENERAL */

/*Colors*/
:root {
    --dc-darker-gray: #eaeaea;
    --dc-lighter-gray: #f4f4f4;
    --dc-lighter-green: #d5f9ba;
}

.bg-darker-gray{
    background-color: var(--dc-darker-gray);
}

/*Scroll Bar*/
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-thumb {
    background: #cecece;
    border: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #a8a8a8;
}

body {
    background: linear-gradient(
        #009688 0%,
        #009688 130px,
        #d9dbd5 130px,
        #d9dbd5 100%)
}

.full-cont,.left-side,.right-side {
    height: calc(100vh - 48px);
}

.icon-size {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.cursor-pointer:hover, .icon-size:hover{
    cursor: pointer;
}

.user-info {
    height: 66px;
}

/* LEFT SIDE */
.notifications {
    height: 82px;
    background-color: #8edafc;
}

.bell {
    background-color: #f2fbff;
}

.contact-search{
    height: 48px;
}

.contact-box-list {
    height: calc(100% - 196px)
}

li {
    border-top: 1px solid var(--dc-darker-gray) !important;
}

li:hover{
    background-color: var(--dc-lighter-gray);
    cursor: pointer;
}

/* RIGTH SIDE */
.chat-box {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 132px);
}

.sended-msg {
    background-color: var(--dc-lighter-green);
}

.chat-input {
    background-color: #f3eeea;
    height: 66px;
}